body{
    background-color: black;
    color: #fff;
}

article{
    background-color: rgb(44, 43, 43);
}

.resaltado {
    color:yellow
}

#titulo-del-blog{
    text-align: center;
    font-size: 3rem;
}