body{
    background: #f1eded;
    color: #131212;
}

article{
    background-color: #0c0c0c;
    color: rgb(245, 245, 247);
}

nav>ul>li{
    color:yellow
}

#titulo-del-blog{
    text-align: center;
    font-size: 3rem;
}